<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body {
      background-color: black;
      height: 100vh;
    }

    .button-container {
      gap: 20px;
    }

    .button-container a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button-container .btn {
      width: 150px;
      height: 50px;
    }
  </style>
</head>

<body class="text-white d-flex justify-content-center align-items-center m-0">
  <div class="container text-center">
    <h1 class="mb-4">MOVIES</h1>
    <div class="button-container d-flex justify-content-center align-items-center">
      <button class="btn btn-primary" onclick="handleMovie('/now-playing-movies')">Now Playing</button>
      <button class="btn btn-secondary" onclick="handleMovie('/popular-movies')">Popular</button>
      <button class="btn btn-success" onclick="handleMovie('/upcoming-movies')">Upcoming</button>
      <button class="btn btn-danger" onclick="handleMovie('/top-rated-movies')">Top Rated</button>
    </div>
  </div>
  <div class="container text-center">
    <h1 class="mb-4">TV SERIES</h1>
    <div class="button-container d-flex justify-content-center align-items-center">
      <button class="btn btn-primary" onclick="handleMovie('/airing-today')">Airing Today</button>
      <button class="btn btn-secondary" onclick="handleMovie('/top-rated-series')">Top Rated</button>
      <button class="btn btn-success" onclick="handleMovie('/popular-series')">Popular</button>
      <button class="btn btn-danger" onclick="handleMovie('/on-the-air')">On The Air</button>
    </div>
  </div>

  <script>
    const handleMovie = async (route) => {
      await fetch(route)
      window.location.href = route;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>